<a href="https://colab.research.google.com/github/abuqaiselegant/internitytask001/blob/main/task001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
url=input("Enter URL : ")
def dataframe(url):
    if url.endswith('.csv'):
        df=pd.read_csv(url)
        return df
    else :
        raise Exception("Url is not in proper .csv format")
dataframe(url)

Enter URL : https://raw.githubusercontent.com/usama6naseer/largest_object/master/log.csv

           9           qq.com
0         11       taobao.com
1         12      twitter.com
2         15           vk.com
3         16         live.com
4         21        weibo.com
...      ...              ...
15032  93939       moh.gov.sg
15033  93940  quericavida.com
15034  93941   jihadology.net
15035  93942          vlsu.ru
15036  93943    books24x7.com

[15037 rows x 2 columns]